:root {
  --primary-color: #ddeedf;
  --secondary-color: #5c715e;
  --accent-color: #b6cdbd;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --nav-font: "Dancing Script", cursive;
}

nav ul {
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

nav li {
  display: inline;
  list-style: none;
  padding-left: 30px;
  font-size: 35px;
  font-family: var(--nav-font);
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover {
  color: black;
}

nav h2 {
  font-family: var(--nav-font);
  font-size: 40px;
  font-weight: bold;
}

.navigation-container {
  padding-left: 80px;
  padding-right: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  padding-top: 15px;
}

footer {
  margin: 60px 0;
}

.hero h1 {
  font-size: 85px;
  padding-top: 25px;
}

.img-Sam {
  width: 200px;
}

.img-hero {
  padding: 20px;
}

.hero {
  background: var(--primary-color);
}

.homepage-welcome p {
  font-size: 23px;
}

.btn-homepage {
  color: white;
  background-color: var(--secondary-color);
  border: 1px solid;
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-homepage:hover {
  color: black;
  background-color: var(--accent-color);
}

.main-projects {
  text-align: center;
}

.projects h2 {
  font-family: var(--primary-font-family);
  font-size: 50px;
  text-align: center;
}

.img-project {
  width: 450px;
}

.work-inquiry {
  background-color: var(--primary-color);
}

.icon {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 14px;
  margin: 15px 20px;
  font-size: 12px;
  border-radius: 50%;
}

.icon:hover {
  color: white;
  background-color: var(--accent-color);
}

.email-link {
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.email-link:hover {
  color: var(--secondary-color);
}

.contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
}

.contact-box p {
  margin: 0;
}

.btn-footer {
  color: white;
  background-color: var(--secondary-color);
  border: 1px solid;
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-footer:hover {
  color: black;
  background-color: #f2f9f1;
}

@media (max-width: 968px) {
  .hero h1 {
    font-size: 30px;
    padding-top: 10px;
  }

  .hero h2 {
    font-size: 15px;
    padding-top: 10px;
  }

  h3 {
    font-size: 20px;
  }

  .img-Sam {
    width: 100px;
  }

  .img-hero {
    padding-left: 40px;
  }

  .hero {
    padding-right: 30px;
  }

  .hero-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .homepage-welcome p {
    font-size: 18px;
  }

  .img-project {
    width: 250px;
  }

  .projects h2 {
    font-size: 28px;
  }
}
