:root {
  --primary-color: #ddeedf;
  --secondary-color: #5c715e;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
}

.hero h1 {
  font-size: 85px;
  padding-top: 40px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 24px;
  padding-top: 20px;
}

.img-Sam {
  width: 200px;
}

.img-hero {
  padding-left: 90px;
}

.hero {
  background: var(--primary-color);
}

@media (max-width: 968px) {
  .hero h1 {
    font-size: 30px;
    padding-top: 10px;
  }

  .hero h2 {
    font-size: 15px;
    padding-top: 10px;
  }

  h3 {
    font-size: 20px;
  }

  .img-Sam {
    width: 75px;
  }

  .img-hero {
    padding-left: 40px;
  }

  .hero {
    padding-right: 30px;
  }

  .hero-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
